.wrapper {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 480px;
}

.actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}