.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 360px;

        .title {
            text-align: center;
        }
    }
}